//Colors
$primary-color: #007bff;
$secondary-color: #6c757d;
$gray: #333;
$light-gray:#f0f0f0;
$red: red;
$white: #fff;
$select-color: #007bff;
$green-status: #39aa39;

//Sizes
$font-size: 16px;
$input-padding: 10px;
$select-padding: 8px;
$select-border-radius: 4px;

//Fonts
$main-font: 'Lato', sans-serif;